* {
    padding: 0;
    margin: 0;
}
/* THIS SECTION IS FOR HEADER and NAV BAR */


.navbar {
    display: flex;
    height: 200px;
    width: 100%;
    background-color: chocolate;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0px;
    
}



.innerdiv01 {
    height: 70px;
    width: 300px;
    background-color: black;
    color: white;
    

}

/* THIS SECTION IS FOR 'ARTICLE'S DIV and other elements. */

.bodysection {
    position: absolute;
    top: 210px;
}
.article01 {
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    top: 260px;
}
.inner_div_article {
    width: 250px;
    height: 300px;
    display: inline-block;
    background-color: darkgoldenrod;
}



/* THIS SECTION IS FOR FOOTER */
.footer01 {
    height: 100px;
    width: 100%;
    background-color: brown;
    position: fixed;
    bottom: 0px;
}