* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    height: 200px;
    width: 100%;
    background-color: chocolate;
}

.innerdiv01 {
    height: 70px;
    width: 150px;
    background-color: black;
    color: white;

}



/* THIS SECTION IS FOR FOOTER */
.footer01 {
    height: 100px;
    width: 100%;
    background-color: brown;
    position: fixed;
    bottom: 0px;
}