/* this would be the common css page for all the books
book01 - book0n */
body {
    background-color: #092635;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    max-width: 794px;
    margin: auto;
    
}

@media (min-width: 0px) and (max-width: 374px) {
    #im01,#im02 {
        display: none;
    }
    body {
        display: flex;
        align-items: self-start;   
        flex-wrap: wrap;
        max-width: 350px;
        margin-right: 30px;
        margin-left: 30px;
    }
}

/* HEADER SECTION */
.title {
    
    color: #5C8374;
   
    margin-left: 20px;
    margin-right: 20px;

    
}

.img01 {
    position: fixed;
    left: 35px;
    top: 200px;
}
#im02 {
    position: fixed;
    right: 35px;
    top: 200px;
    
}
.background_heading {
    background-color: #1B4242;
}




/* BODY SECTION */


.para01 {
    color: #9EC8B9;
    margin-left: 20px;
    margin-right: 20px;
}

.chap_no {
    color: #5C8374;
    margin-left: 20px;
    margin-right: 20px;
}





/* FOOTER SECTION */

.footer01{ 
    position: fixed;
    bottom: 0px;
    background-color: #273248;
    padding: 1px;
    font-family: sans-serif;
    width: 100%;
    max-height: 30%;
    display: flex;
    flex-wrap: wrap;
    
}
.card01 {
    background-color: #AF4F41;
    opacity: 0.4;
    position: absolute;
    width: 90%;
    
    
}
.other_ref01 {
    color: #F9982F;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 1;
    
}

/* colors : (dark to light)
#092635
#1B4242
#5C8374
#9EC8B9  
*/
