/* this would be the common css page for all the books
book01 - book0n */
body {
    background-color: #092635;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    max-width: 794px;
    margin: auto;
}

@media (min-width: 0px) and (max-width: 374px) {
    #im01,#im02 {
        display: none;
    }
    body {
        display: flex;
        align-items: self-start;   
        flex-wrap: wrap;
        max-width: 350px;
        margin-right: 30px;
        margin-left: 30px;
    }
}

/* HEADER SECTION */
.title {
    background-color: #1B4242;
    color: #5C8374
}

.img01 {
    position: fixed;
    left: 35px;
    top: 200px;
}
#im02 {
    position: fixed;
    right: 35px;
    top: 200px;
    
}



/* BODY SECTION */


.para01 {
    color: #9EC8B9;
}





/* FOOTER SECTION */


/* colors : (dark to light)
#092635
#1B4242
#5C8374
#9EC8B9  
*/
